<template>
  <div class="home">
    <Banner v-bind:GuestName="GuestName" v-on:click-btn="askName" />

    <AboutMe/>

    <Contact/>

    <TodoBanner/>

    <Footer/>

  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Banner from '@/components/Banner.vue'
import AboutMe from '@/components/AboutMe.vue'
import Contact from '@/components/Contact.vue'
import Footer from '@/components/Footer.vue'
import TodoBanner from '@/components/TodoBanner.vue'

export default {
  name: 'Home',
  components: {
    // HelloWorld,
    Banner,
    AboutMe,
    Contact,
    Footer,
    TodoBanner
  },
  data(){
    return{
      GuestName:"Guest"
    }
  },
  methods:{
    getName(){
        let name= localStorage.getItem("GuestName") || prompt("Masukan Nama Anda")

        let GuestName = name.trim() || "Guest"

        localStorage.setItem("GuestName",GuestName)

        // console.log(GuestName); 

        this.GuestName=GuestName
    },
    askName(){

        let name=prompt("Masukan Nama Anda") || localStorage.getItem("GuestName")

        this.GuestName= name

        localStorage.setItem("GuestName",name)
      
    }
  },
  mounted(){
      this.getName()

      document.title="My Profile"
  }
}
</script>
