<template>
  <div class="not_found d-flex">
    <h2>404 Not Found</h2>
    <router-link :to="{path:'/'}">Kembali ke Home</router-link>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
  .not_found{
    height: 100vh;
    flex-direction: column !important;
  }
</style>
