<template>
  <div class="todo">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/todo">Todo</router-link>
    </div>

    <h3 class="text-3xl text-center font-bold hidden">Todo List</h3>

    <button  class="addBtn bg-green-600 text-white p-3 mr-5" @click="openForms"> {{ openForm ? "Tutup Form" : "Buka Form" }} </button>

    <button v-if="todoList.length>0" class="bg-red-600 mr-5 p-3 text-white" @click="deleteAll">Hapus Semua</button>

    <form class="col-12 d-flex form mt-1 mb-3" v-if="openForm" @submit.prevent="addTodo">

      <input placeholder="Nama Todo" class="border-2 border-black p-2" type="text" v-model="todoName" ref="todo" />

      <button class="bg-blue-500 p-2 text-white px-6">Kirim</button>
    </form>

    <div v-if="todoList.length > 0" align="center" class="mt-10">
      <table class="w-full border-solid border-2 text-center border-black">
        <tr class="border-solid border-2 text-center border-black">
          <th class="py-2">No</th>
          <th>Nama</th>
          <th>Aksi</th>
        </tr>

        <tr class="border-solid border-2 text-center border-black " v-for="(todo, element) in todoList" :key="todo.id">
          <td class="py-2 w-6">{{ ++element }}</td>

          <td class="w-6 " >
              <span v-bind:class="{'line-through':todo.finished}">{{todo.name}}</span>
          </td>

          <td class="py-2 w-6">

            <button class="duration-500 bg-red-600 mr-5 hover:bg-green-500 text-white py-2 px-5" href="#" @click="updateTodo(todo.id)">{{todo.finished?"Dikerjakan":"Selesai"}}</button>

            <button class="duration-500 bg-red-600 hover:bg-green-500 text-white py-2 px-5 mt-1" href="#" @click.prevent="deleteTodo(todo.id)">Hapus</button>
          </td>
        </tr>
      </table>
    </div>

    <div v-else class="col-12 mt-10 h-10 flex flex-col items-center justify-center w-full" align="center">
      <h3 v-if="!openForm" class="font-bold text-2xl mb-5">Todo Kosong</h3>

      <button class="border-2 w-2/6 duration-500 hover:bg-green-500 hover:text-white p-2" v-if="!openForm" @click="openForms">Tambah Data</button>
    </div>

    <Footer />
  </div>
</template>

<script>
import Footer from "@/components/Footer.vue";

export default {
  name: "Todo",
  components: {
    Footer
  },
  data() {
    return {
      todoList: [],
      todoName: "",
      openForm: false,
      lineTrough:{
        color:"red"
      }
    };
  },

  methods: {
    openForms(){
        this.openForm = this.openForm ? false : true;

        if(!this.openForm)
            return 0
        
       this.$nextTick(()=>{
            this.$refs.todo.focus()
       })
        
    },
    getTodo() {
      let todo = JSON.parse(localStorage.getItem("todo")) || [];

      this.todoList = todo.sort();
    },
    deleteAll(){
        if(!confirm("Hapus Semua Todo ?"))
            return 0
        
        localStorage.setItem("todo",JSON.stringify([]))

        this.todoList=[]
    },
    addTodo() {
      let todo = JSON.parse(localStorage.getItem("todo")) || [];

      if (this.todoName.trim().length === 0)
        return alert("Masukan todo dengan benar");

      todo = [
        ...todo,
        { id: Math.ceil(Math.random() * 100), name: this.todoName,finished:false }
      ];

      localStorage.setItem("todo", JSON.stringify(todo));

      this.todoList = todo.sort();

      this.openForm = false;

      this.todoName = "";
    },
    deleteTodo(id) {
      if (!confirm("Hapus Todo ?")) return 0;

      let todo = JSON.parse(localStorage.getItem("todo"));

      todo = todo.filter(v => v.id != id);

      localStorage.setItem("todo", JSON.stringify(todo));

      this.todoList = todo.sort();
    },
    updateTodo(id){
        let todo = JSON.parse(localStorage.getItem("todo"))

        let oldtodo = todo;

        let filtered_todo = todo.filter(v=>v.id!=id)

        todo=todo.filter(v=>v.id==id)

        todo[0].finished=!todo[0].finished;
        
        let new_todo=todo[0].finished?[...filtered_todo,...todo]:[...todo,...filtered_todo];

        localStorage.setItem("todo", JSON.stringify(new_todo));

        this.todoList = new_todo.sort();

        todo=[id,oldtodo,todo,filtered_todo,new_todo]

    }
  },
  mounted() {
    this.getTodo();

    document.title = `${localStorage.getItem("GuestName") || "Guest"} | Todo`;
  }
};
</script>

<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.addBtn {
  padding: 10px;
  cursor: pointer;
}

.todo {
  padding: 20px;
}

.table {
  text-align: center;
  border-collapse: collapse;
  margin-top: 20px;
}

.form {
  flex-direction: column;
}

.form input {
  margin: 10px 0;
}

.line-throughs{
  text-decoration: line-through !important;
}

lineTrough{
  text-decoration: line-through;
  color:red;
}

.table td,
.table th {
  padding: 10px;
}

#nav a {
  margin-right: 10px;
}

.router-link-exact-active {
  color: #42b983;
}
</style>
