<template>
  <div class="">
    <div class="about-me col-12">

      <div class="w-full lg:w-6/12 float-left detail-data">
        <div class="about">
          <h3 class="font-bold">Tentang Saya</h3>

          <p>
            Hai, perkenalkan nama saya Adrian tahun ini saya berumur
            {{ new Date().getFullYear() - 2002 }} Tahun, dan saya adalah
            mahasiswa ITB Stikom Bali semester I. Sebelumnya saya pernah
            menempuh pendidikan SMK di SMK TI Bali Global Denpasar. Saat ini saya sedang belajar menjadi fullstack JS developer dengan mempelajari vue.js dan express.js
          </p>
        </div>

        <div class="lang col-12">
          <h3 class="font-bold">Bahasa yang Pernah Saya Pelajari</h3>

          <div class="d-flex col-12">
            <ul class="col-6">
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/cpp.png" alt="" /> <span>C++</span> 
              </li>
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/html.png" alt="" /> HTML
              </li>
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/css.png" alt="" /> CSS
              </li>
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/js.png" alt="" /> JS
              </li>
            </ul>

            <ul class="w-6/12">
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/php.png" alt="" />PHP
              </li>
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/java.png" alt="" />Java
              </li>
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/kotlin.png" alt="" />Kotlin
              </li>
              <li class="icon-lang mb-10 lg:mb-5 d-flex">
                <img src="../assets/dart.png" alt="" />Dart
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-6 w-img d-flex hidden lg:flex">
        <img src="../assets/online_report_monochromatic.png" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.about-me {
  margin-top: 60px;
  padding: 0 50px;
}

.about p {
  margin: 20px 0;
  line-height: 1.7;
  font-size: 17px;
  text-align: justify;
}

.about h3,
.lang h3 {
  margin-bottom: 10px;
  position: relative;
  font-size: 1.4em;
}

.about h3::after,
.lang h3::after {
  background: #000;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  /* margin-top: 20px; */
  bottom: -7px;
  left: 0;
}

.lang {
  margin-top: 30px;
}

.lang li {
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
}

.w-img img {
  object-fit: cover;
  width: 80%;
  /* height:100%; */
}

.icon-lang {
  /* flex-direction: ; */
  justify-content: flex-start !important;
}

.icon-lang img {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
  margin-right: 20px;
}

.icon-lang {
  font-weight: bold;
  font-size: 17px;
}
</style>
