<template>
  <div class="banner d-flex">
    <div class="w-full lg:w-6/12 md:w-6/12 col-6 ban-info d-flex">

      <h1 class=" text-2xl  md:text-2xl  lg:text-4xl sm:text-xl font-bold ">Hai, Selamat Datang {{ GuestName }} !</h1>

      <div class="d-flex img col-12">
        <img class="w-12" src="../assets/logo.png" alt="" />
        <p>
          Web ini dibuat dengan
          <a class="cursor-pointer" target="_blank" href="https://vuejs.org">Vue.js</a>
        </p>
      </div>

      <div class="col-12 d-flex">
        <button @click="$emit('click-btn', 1)">Ubah Nama Ditampilkan</button>

          <router-link to="todo">
              <button>Coba Todo</button>
          </router-link>
          
    
      </div>
    </div>

    <div class="col-6 d-flex hidden lg:flex md:flex">
      <img src="../assets/face.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  props: ["GuestName"],
  template: "<p>{{GuestName}}<p>"
};
</script>

<style scoped>
.banner {
  background: linear-gradient(to right bottom, #34495e, #41b883);
  overflow: hidden;
}

.img {
  margin: 30px 0;
}

.banner h1 {
  text-align: center;
  color: #fff;
  /* font-size: 50; */
}

a {
  color: #41b883;
  transition: 0.5s;
  font-size: 1.2em;
}

a:hover {
  color: #34495e;
}

button {
  border: 2px solid #41b883;
  padding: 10px;
  /* border-radius: 10px; */
  background: transparent;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: 0.5s;
  z-index: 2;
  margin-bottom: 10px;
  margin-right: 10px;
}

button::before {
  content: "";
  background: #41b883;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}

button a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
}

button:hover::before {
  transform: scaleX(1);
}

.ban-info {
  flex-direction: column;
}


.img p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.banner,
.banner .col-6 {
  height: 100vh;
}
</style>
