<template>
  <div class="contact col-12">
    <div class="col-12 contact-detail">


      <h2 class="font-bold">Sosial Media Saya</h2>

      
        <a class="w-3/6 lg:w-2/6 md:w-2/6 flex py-5 lg:py-6 items-center flex-col contact-info" target="_blank" href="https://gitlab.com/adrianwijaya584/">
          <img class="w-10 lg:w-20 lg:w-20 md:w-17 lg:h-20 h-10 p-0" src="../assets/gitlab.png" alt="" />
          <h3 class="mt-5 text-base lg:text-xl  duration-500 font-bold"> Gitlab</h3>
        </a>
      
        <a class="w-3/6 lg:w-2/6 md:w-2/6 flex py-5 lg:py-6 items-center flex-col contact-info" target="_blank" href="https://github.com/adrianwijaya676/">
          <img class="w-10 lg:w-20 lg:w-20 md:w-17 lg:h-20 h-10 p-0" src="../assets/github.png" alt="" />
          <h3 class="mt-5 text-base lg:text-xl duration-500 font-bold"> Github </h3>
         </a>
      
        <a class="w-3/6 lg:w-2/6 md:w-2/6 flex py-5 lg:py-6 items-center flex-col contact-info" target="_blank" href="https://line.me/ti/p/QGs7MMTD1F">
          <img class="w-10 lg:w-20 lg:w-20 md:w-17 lg:h-20 h-10 p-0" src="../assets/line.png" alt="" />
          <h3 class="mt-5 text-base lg:text-xl  duration-500 font-bold"> Line </h3>
        </a>
      
        <a class="w-3/6 lg:w-2/6 md:w-2/6 flex py-5 lg:py-6 items-center flex-col contact-info" target="_blank" href="https://api.whatsapp.com/send?phone=+62881037509397">
          <img class="w-10 lg:w-20 lg:w-20 md:w-17 lg:h-20 h-10 p-0" src="../assets/whatsapp.png" alt="" />
          <h3 class="mt-5 text-base lg:text-xl  duration-500 font-bold"> Whatsapp </h3>  
        </a>
      
        <a class="w-3/6 lg:w-2/6 md:w-2/6 flex py-5 lg:py-6 items-center flex-col contact-info" href="mailto:adrianwijaya584" target="_blank"> 
          <img class="w-10 h-10 lg:w-20 lg:h-20 md:w-17" src="../assets/gmail.png" alt="" />
          <h3 class="mt-5 text-base lg:text-xl  duration-500 font-bold"> Gmail</h3>
        </a>
      
        <a class="w-3/6 lg:w-2/6 md:w-2/6 flex py-5 lg:py-6 items-center flex-col contact-info" target="_blank" href="https://t.me/Adrianwijaya584">
          <img class="w-10 lg:w-20 lg:w-20 md:w-17 lg:h-20 h-10 p-0" src="../assets/telegram.png" alt="" />
          <h3 class="mt-5 text-base lg:text-xl  duration-500 font-bold">Telegram</h3>
        </a>
    
    </div> <!-- contact -->
  </div> <!-- contact-detail -->
</template>

<script>
export default {};
</script>

<style scoped>
img{
  object-fit: scale-down;
}

.contact {
  margin-top: 60px;
  padding: 0 50px;
}

.contact h2 {
  margin-bottom: 10px;
  position: relative;
  font-size: 1.4em;
}

.contact h2::after {
  background: #000;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  /* margin-top: 20px; */
  bottom: -7px;
  left: 0;
}

.contact-info{
  float: left;
}

.contact-info {
  text-align: center;
  margin-top: 20px;
  transition: .5s;
  cursor: pointer;
}

.contact-info:hover{
  background: #e9e9e9;
  transform: scale(1.06);
}

.contact-info:hover h3{
  color: #41b883;  
}

  /* color: #34495e; */
  

</style>
