<template>
  <div class="footer col-12 d-flex">
    <h3 class="flex">
      &copy; Adrian {{ new Date().getFullYear() }}, dibuat dengan
      <img src="../assets/logo.png" alt="" />
      <span class="font-bold">Vue Js</span>
    </h3>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
  .footer {
    margin-top: 40px;
    text-align: center;
    height: 100px;
    background: #f9f9f9;
  }

img {
  width: 20px;
  height: 20px;
}
</style>
