<template>
  <div class="todo col-12">
      <div class="w-3/6 lg:w-3/6 float-left flex flex-center justify-center">
          <img src="@/assets/todo.jpg" class="lg:w-3/6" alt="">
      </div>

      <div class="w-3/6 lg:w-3/6 float-left pl-2 lg:pl-16">
        <h2 class="font-bold text-base mb-5 lg:text-2xl md:text-xl">Ingin Mencoba Todo List ?</h2>

        <p class="mb-10 leading-9 hidden lg:block md:block text-justify">Todo list simple yang saya buat dengan menerapkan konsep localStorage sebagai penyimpanan di client side.</p>

        <router-link class="border-2 border-green-400 px-4 lg:px-5 py-3 duration-500 hover:bg-green-400 hover:text-white " to="todo">Coba Disini</router-link>
      </div>
      

  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.todo {
  margin-top: 100px;
  padding: 0 60px;
}

.bg-green-vue{
    background:#41b883
  }

</style>
