<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    
    <transition name="fade" mode="out-in">
    <router-view/>

    </transition>
  </div>
</template>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "product sans","sans-serif";
  }

  [class*="col-"]{
    float: left;
  }

  .col-3{
    width: 25%;
  }

  .col-4{
    width: 33.33%;
  }

  .col-6{
    width: 50%;
  }

  .col-12{
    width: 100%;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .d-flex{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  /* #nav {
    padding: 30px;
  } */

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }


</style>
